.root{
    display: flex;
}
.main-container {
    max-width: 600px;
    min-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .question {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .options {
    display: flex;
    flex-direction: column;
  }
  
  .option {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #f0f0f0;
  }
  

.eye{
    height: 30px;
}
.eyesection{
    display: flex;
    justify-content: space-between;
}